{
  "presets": [
    "next/babel",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@/": "./"
        }
      }
    ],
    "@emotion",
    [
      "prismjs",
      {
        "languages": [
          "apacheconf",
          "bash",
          "bnf",
          "c",
          "cpp",
          "css",
          "css-extras",
          "diff",
          "django",
          "docker",
          "ebnf",
          "ejs",
          "erb",
          "git",
          "gml",
          "go",
          "graphql",
          "haml",
          "handlebars",
          "haskell",
          "http",
          "icon",
          "ini",
          "java",
          "javadoc",
          "javadoclike",
          "javascript",
          "javastacktrace",
          "jq",
          "js-extras",
          "js-templates",
          "jsdoc",
          "json",
          "json5",
          "jsonp",
          "jsx",
          "less",
          "makefile",
          "markdown",
          "markup",
          "markup-templating",
          "nginx",
          "perl",
          "php",
          "php-extras",
          "phpdoc",
          "plsql",
          "powershell",
          "processing",
          "protobuf",
          "puppet",
          "pure",
          "python",
          "regex",
          "ruby",
          "sass",
          "shell-session",
          "sql",
          "stylus",
          "swift",
          "toml",
          "tsx",
          "typescript",
          "vim",
          "wasm",
          "yaml"
        ],
        "plugins": ["show-language"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
